body {
    background-color:#E6E6E6;
}
.container {
    font-family: 'Abel', sans-serif;
}
#logoBack{
    background-color: white;
    height: 50px;
    top: 50px;
    position: absolute;
    z-index: 1;
}
#logo {
    height: 105px;
    width: 105px;
    z-index: 2;
    margin: 1.5em auto;
}

.headings, span {
    font-family: 'Anton', sans-serif;
}

.rounded-circle .headings {
    position: relative;
    top: 10px;
}

#nav{
    margin-bottom: 2em;
}
#utah {
    margin-bottom: 2em;
}
#visualDesign {
    margin-bottom: 2em;
}
#circles {
    margin-bottom: 6em;
}
.rounded-circle {
    border: white solid 6px;
    height: 105px;
    width: 105px;
    color: white;
}
.project-image {
    border: gray solid 6px;
    width: 90%;
    border-radius: 5px;
}
.badge {
    height: 18px;
    width: 18px;
    border-radius: 120px;
    color: black;
}
.orange {
    background-color: #E6563B;
}
.yellow {
    background-color: #DEA03D;
}
.green {
    background-color: #7CB06C;
}
.blue {
    background-color: #00ABA9;
}
p {
    font-size: .9em;
}
.projectBadges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}
.badgeBase {
    display: flex;
    justify-content: space-between;
    width: 35%;
}
h1 {

}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:320px) {
    hr {
        display: none;
    }
    .theLast {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #logo {
        position: relative;
        right: 286px;
    }
    #logoBack {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .companyName {
        position: relative;
        bottom: 97px;
        right: 139px;
        z-index: 2;
    }
    #nav {
        width: 90%;
        position: relative;
        z-index: 2;
        bottom: 150px;
        left: 35px;
        margin: 0;
    }


    .mainHeader {
        position: relative;
        bottom: 100px;
        z-index: 3;
    }

    #circles {
    }

    hr {
        display: block;
        position: relative;
        bottom: 60px;
        margin: 0 1em;
    }
    #theLastHeader {
        font-family: Abel;
    }
    .lastDescription {
        font-family: Anton;
        margin: 0;
        font-size: 100%;
    }
    #visualDesign h2 {
        font-size: 38px;
    }
    .theLast {
        display: block;
    }
    .theLast-image {
        width: 31%;
        height: 31%;
        margin-left: 10px;
        padding-right: 10px;
    }
}